<!DOCTYPE html>
<html ng-app='ContactApp'>
  <head>
    <meta charset="utf-8">
    <title>Contact App</title>
    <link rel="shortcut icon" href="http://res.cloudinary.com/dwuzkffrk/image/upload/v1492299495/favicon_nvbfj5.ico"/>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js'>
    </script>
    <script src='js/app.js'></script>
    <script src='js/appConfig.service.js'></script>
    <script src='js/appname.service.js'></script>
    <script src='js/contact.controller.js'></script>
    <script src='js/contactData.service.js'></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>
  <body>
    <header ng-controller='headerCnt as head'>
      <h1>{{head.appTitle}}</h1>
    </header>
    <div class='container' ng-controller ='ContactCnt as ctrl'>
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat='contact in ctrl.contacts'
             ng-click='ctrl.selectContact($index)'>
              <span>{{contact.name.first + ' ' + contact.name.last}}</span>
            </li>
          </ul>

          <button type="button" ng-click='ctrl.addContact()'>Add Contact</button>
        </div>

        <div class="col-md-6">
          <div ng-if='ctrl.successMsg' class="alert alert-success">{{ctrl.successMsg}}
          </div>
          <div ng-if='ctrl.errorMsg' class="alert alert-danger">{{ctrl.errorMsg}}
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img ng-src="{{ctrl.selectedContact.picture.medium}}" alt="">
              </a>
            </div>
            <div class="media-body">
              <button ng-hide='ctrl.editMode' type="button" ng-click='ctrl.toggelEditMode()'>Edit</button>
              <button ng-show='ctrl.editMode' type="button" ng-click='ctrl.saveUser()'>save</button>
              <button ng-hide='ctrl.editMode' type="button" ng-click='ctrl.deleteUser()'>delete</button>

              <p>
                <span>First name:</span>
                <span ng-hide='ctrl.editMode'>{{ctrl.selectedContact.name.first}}</span>
                <input type="text"
                ng-show='ctrl.editMode' ng-model='ctrl.selectedContact.name.first'>
              </p>
              <p>
                <span>Last name:</span>
                <span ng-hide='ctrl.editMode'>{{ctrl.selectedContact.name.last}}</span>
                <input type="text"
                ng-show='ctrl.editMode' ng-model='ctrl.selectedContact.name.last'>
              </p>

              <div>
                <h6>Location</h6>
                <p>
                  <span>Street:</span>
                  <span ng-hide='ctrl.editMode'>{{ctrl.selectedContact.location.street}}</span>
                  <input type="text"
                  ng-show='ctrl.editMode' ng-model='ctrl.selectedContact.location.street'>
                </p>
                <p>
                  <span>City:</span>
                  <span ng-hide='ctrl.editMode'>{{ctrl.selectedContact.location.city}}</span>
                  <input type="text"
                  ng-show='ctrl.editMode'
                  ng-model='ctrl.selectedContact.location.city'>
                </p>
                <p>
                  <span>State:</span>
                  <span ng-hide='ctrl.editMode'>{{ctrl.selectedContact.location.state}}</span>
                  <input type="text"
                  ng-show='ctrl.editMode' ng-model='ctrl.selectedContact.location.state'>
                </p>
              </div>

              <div>
                <p>
                  <span>Phone:</span>
                  <span ng-hide='ctrl.editMode'>{{ctrl.selectedContact.cell}}</span>

                  <input type="text"
                  ng-show='ctrl.editMode'
                  ng-model='ctrl.selectedContact.cell'>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <footer ng-controller='footerCnt as foot'>
      <h1>{{foot.appTitle}}</h1>
    </footer>
  </body>
</html>
